@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    min-width: 300px;
    margin: 0; padding: 0;
}

body {    
    font-family: 'Roboto', 'Arial';
    font-size: 0.8em;
}

nav a {
    color: white;
    font-weight: 100;
    margin-left: 10px;
}

nav a:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
}

#bienvenue {
    background: black;
    color: white;
}

#flex-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

#flex-presentation {
    display: flex;
    margin-top: 50px;
}

.gauche-presentation {
    width: 50%;    
}

.droite-presentation {
    width: 50%;
    margin-left: 10%;
}

.droite-presentation img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 1200px;
}