@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    min-width: 300px;
    margin: 0; padding: 0;
}

body {    
    font-family: 'Roboto', 'Arial';
    font-size: 1em;
    font-weight: 400;
}

nav a {
    color: white;
    font-weight: 100;
    padding-left: 10px;
}

nav a:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

footer {
    border-top: 2px solid black;
    padding: 25px 0;
}

#bienvenue {
    background: black;
    color: white;
}

#jump-start {
    color: white;
    background: no-repeat url('images/points.png'), url('images/jump-start.png');
    background-size: cover;
    padding-bottom: 500px;
}

#presentation {
    text-align: center;
}

#flex-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

#flex-presentation {
    display: flex;
    padding: 50px 0;
}

#projets {
    text-align: center;
    padding-bottom: 50px;
}

#projet-grille {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    position: relative;   
}

#projet-grille img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

#projet-grille img:hover {
    opacity: .7;
}

#projet-grille H3 {
    color: white;
    font-size: 2em;
    position: absolute;
    z-index: 1;
    transform: translate(40px, -200px);
    text-shadow: 0 0 30px black;    
}

#contact {
    text-align: center;
    padding: 50px 0;    
}

#contact button {
    padding: 20px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#contact button:hover {
    opacity: .8;
}

.gauche-presentation {
    max-width: 100%;    
}

.droite-presentation {
    width: 50%;
    padding-left: 50px;
}

.droite-presentation img {
    max-width: 100%;
    width: 75%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

@media all and (max-width: 1130px) {
    .container {
        width: 800px;
    }
    #projet-grille h3 {
        transform: translate(40px,-150px);
    }
}

@media all and (max-width: 730px) {
    .container {
        width: 600px;
    }
    .droite-presentation {
        display: none;
    }
    .gauche-presentation h1{
        text-align: center;
    }
    #projet-grille {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #projet-grille h3 {
        transform: translate(40px, -250px);
        font-size: 2.5em;
    }
}

@media all and (max-width: 530px) {
    .container {
        width: 400px;
    }
    #projet-grille h3 {
        transform: translate(100px, -250px);
        text-shadow: 0 0 10px black;
    }
}